# Ignore everything
*
# But not these files
!README.md
!create-gpuvm.sh
!init-gpuvm.sh
!install-xstuff.sh
!restart-xstuff.sh
!install-common.sh
!install-google.sh
!install-docker.sh
!install-nvidia.sh
!install-remviz.sh
!*.emacs
!*.bashrc
!*.inputrc
!*.gitignore
!*.tmux.conf
!/.emacs.d/
!/.emacs.d/my-packages.el
!/.emacs.d/my-noexternal.el
!/.emacs.d/my-loadpackages.el
