# Ignore everything
*
# But not these files
!README.md
!Dockerfile
!/scripts/
!/scripts/create-gpuvm.sh
!/scripts/init-gpuvm.sh
!/scripts/install-xstuff.sh
!/scripts/restart-xstuff.sh
!/scripts/install-common.sh
!/scripts/install-google.sh
!/scripts/install-docker.sh
!/scripts/install-nvidia.sh
!/scripts/install-remviz.sh
!*.emacs
!*.bashrc
!*.inputrc
!*.gitignore
!*.tmux.conf
!/.emacs.d/
!/.emacs.d/my-packages.el
!/.emacs.d/my-noexternal.el
!/.emacs.d/my-loadpackages.el
